<h3 style="text-align: center">Form Login</h3>

<div class="container">
  <div class="col-6 mx-auto">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <!--      Email-->
      <div class="form-group ">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               placeholder="Enter email" formControlName="email">
      </div>
      <div>
        <div class="alert alert-danger" role = "alert" *ngIf="loginForm.controls.email.dirty
            &&loginForm.controls.email.errors?.email">Invalid email!!
        </div>
        <div class="alert alert-danger" role = "alert" *ngIf="loginForm.controls.email.dirty
            &&loginForm.controls.email.errors?.required">Empty email!!
        </div>
      </div>
      <!--      Email-->

      <!--      Password-->
      <div class="form-group ">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password"
               formControlName="password">
      </div>
      <div class="alert alert-danger" role = "alert"
           *ngIf="loginForm.controls.password.dirty && loginForm.controls.password.errors?.minlength">
        Password >=6!
      </div>
      <!--      Password-->

      <div class="form-group mt-2 ">
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
