<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Update Customer</h3>

            <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="id" class="form-control form-control-lg"
                           formControlName="customerId"/>
                    <label class="form-label" for="id">Id</label>
                  </div>
                  <div class="alert alert-danger" role = "alert"
                       *ngIf="updateForm.controls.customerId.dirty && updateForm.controls.customerId.errors?.pattern">
                    Wrong format KH-XXXX(0-9)!
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="hoTen" class="form-control form-control-lg"
                           formControlName="customerName"/>
                    <label class="form-label" for="hoTen">Họ tên</label>
                    <div class="alert alert-danger" role = "alert"
                         *ngIf="updateForm.controls.customerName.dirty && updateForm.controls.customerName.errors?.required">
                      Name not empty!
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="date" id="ngaySinh" class="form-control form-control-lg"
                           formControlName="customerBirthday"/>
                    <label class="form-label" for="ngaySinh">Ngày sinh</label>
                  </div>
                  <div class="alert alert-danger" role = "alert"
                       *ngIf="updateForm.controls.customerBirthday.dirty && updateForm.controls.customerBirthday.errors?.pattern">
                    Wrong format dd/mm/yyyy!
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control-lg" id="cmnd"
                           formControlName="customerCMND"/>
                    <label for="cmnd" class="form-label">Cmnd</label>
                  </div>
                  <div class="alert alert-danger" role = "alert"
                       *ngIf="updateForm.controls.customerCMND.dirty && updateForm.controls.customerCMND.errors?.pattern">
                    Wrong format XXXXXXXXX!
                  </div>
                </div>
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control-lg" id="sdt"
                           formControlName="customerPhone"/>
                    <label for="sdt" class="form-label">Sdt</label>
                  </div>
                  <div class="alert alert-danger" role = "alert"
                       *ngIf="updateForm.controls.customerPhone.dirty && updateForm.controls.customerPhone.errors?.pattern">
                    Wrong format !
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="email" id="email" class="form-control form-control-lg"
                           formControlName="customerEmail"/>
                    <label class="form-label" for="email">Email</label>
                  </div>
                  <div class="alert alert-danger" role = "alert"
                       *ngIf="updateForm.controls.customerEmail.dirty && updateForm.controls.customerEmail.errors?.email">
                    Wrong format !
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="tel" id="diaChi" class="form-control form-control-lg"
                           formControlName="customerAddress"/>
                    <label class="form-label" for="diaChi">Địa chỉ</label>
                  </div>
                  <div class="alert alert-danger" role = "alert"
                       *ngIf="updateForm.controls.customerAddress.dirty && updateForm.controls.customerAddress.errors?.required">
                    Wrong format !
                  </div>
                </div>
              </div>
              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Update" [disabled]="!updateForm.valid"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
