<h1>Danh sách sản phẩm</h1>
<table>
  <tr>
    <td>Mã</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td>Category</td>
    <td colspan="2">Chức năng</td>
  </tr>
  <tr *ngFor="let product of products | paginate: { itemsPerPage:3 , currentPage:p}; index as i">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category.name}}</td>
    <td><a [routerLink]="['/product/edit',product.id]">Chỉnh sửa</a></td>
    <td><a (click)="openPopup(product.id)">Xóa</a></td>
    <!--    <td><a (click)="showDeleteModal([[*{this.product.id}]])" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-success">Xóa</a></td>-->
  </tr>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa hay không ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="closePopup()">
          Close
        </button>
        <button type="button" class="btn btn-danger"
                (click)="delete()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
