
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Update Facility</h3>
            <form [formGroup]="updateForm">
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="id" class="form-control form-control-lg" formControlName="facilityId"/>
                    <label class="form-label" for="id">Id</label>
                  </div>
                </div>
                <div class="alert alert-danger" role = "alert"
                     *ngIf="updateForm.controls.facilityId.dirty && updateForm.controls.facilityId.errors?.pattern">
                  Wrong format DV-XXXX(0-9)!
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="firstName" class="form-control form-control-lg" formControlName="facilityName"/>
                    <label class="form-label" for="firstName">Name</label>
                  </div>
                  <div class="alert alert-danger" role = "alert"
                       *ngIf="updateForm.controls.facilityName.dirty && updateForm.controls.facilityName.errors?.required">Name not empty!
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="area" class="form-control form-control-lg" formControlName="facilityArea"/>
                    <label class="form-label" for="area">Area</label>
                  </div>
                  <div class="alert alert-danger" role = "alert"
                       *ngIf="updateForm.controls.facilityArea.dirty && updateForm.controls.facilityArea.errors?.pattern">Area >=0!
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control-lg" id="numberFloors" formControlName="facilityFloors"/>
                    <label for="numberFloors" class="form-label">Number floors</label>
                  </div>
                  <div class="alert alert-danger" role = "alert"
                       *ngIf="updateForm.controls.facilityFloors.dirty && updateForm.controls.facilityFloors.errors?.pattern">Number floors >=0 and not decimal!
                  </div>
                </div>
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <input type="text" class="form-control form-control-lg" id="maxPeople" formControlName="facilityPeopleMax"/>
                    <label for="maxPeople" class="form-label" >Max people</label>
                  </div>
                  <div class="alert alert-danger" role = "alert"
                       *ngIf="updateForm.controls.facilityPeopleMax.dirty && updateForm.controls.facilityPeopleMax.errors?.pattern">People >=0 and not decimal!
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="email" id="rentalCosts" class="form-control form-control-lg" formControlName="facilityRentalCost"/>
                    <label class="form-label" for="rentalCosts">Rental costs</label>
                  </div>
                  <div class="alert alert-danger" role = "alert"
                       *ngIf="updateForm.controls.facilityRentalCost.dirty && updateForm.controls.facilityRentalCost.errors?.pattern">Rental costs >=0!
                  </div>

                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="tel" id="status" class="form-control form-control-lg" formControlName="facilityStatus"/>
                    <label class="form-label" for="status">Status</label>
                  </div>
                  <div class="alert alert-danger" role = "alert"
                       *ngIf="updateForm.controls.facilityStatus.dirty && updateForm.controls.facilityStatus.errors?.required">Status not empty!
                  </div>
                </div>
              </div>

              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Update"  [disabled]="!updateForm.valid"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
