<h1 style="text-align: center">Danh sách nhân viên</h1>
<table class="table">
  <tr>
    <td>Id</td>
    <td>Tên nhân viên</td>
    <td>Ngày sinh</td>
    <td>Cmnd</td>
    <td>Sdt</td>
    <td>Email</td>
    <td>Địa chỉ</td>
  </tr>
  <tr *ngFor="let customer of customers">
    <td>{{customer.customerId}}</td>
    <td>{{customer.customerName}}</td>
    <td>{{customer.customerBirthday}}</td>
    <td>{{customer.customerCMND}}</td>
    <td>{{customer.customerPhone}}</td>
    <td>{{customer.customerEmail}}</td>
    <td>{{customer.customerAddress}}</td>
  </tr>
</table>
