<h1 style="text-align: center">Danh sách dịch vụ</h1>
<table class="table">
  <tr>
    <td>Id</td>
    <td>Tên dịch vụ</td>
    <td>Diện tích</td>
    <td>Số tầng</td>
    <td>Số người tối đa</td>
    <td>Chi phí thuê</td>
    <td>Trạng thái</td>
  </tr>
  <tr *ngFor="let facility of facilitys">
    <td>{{facility.serviceId}}</td>
    <td>{{facility.serviceName}}</td>
    <td>{{facility.serviceArea}}</td>
    <td>{{facility.serviceFloors}}</td>
    <td>{{facility.servicePeopleMax}}</td>
    <td>{{facility.serviceRentalCost}}</td>
    <td>{{facility.serviceStatus}}</td>
  </tr>
</table>
