<div class="blockcode">
  <footer class="page-footer shadow">
    <div class="d-flex flex-column mx-auto py-5" style="width: 80%">
      <div class="d-flex flex-wrap justify-content-between">
        <div>
          <a href="/" class="d-flex align-items-center p-0 text-dark">
            <img alt="logo" src="https://cdn.nhanlucnganhluat.vn/uploads/images/051D288B/logo/2018-12/Logo-FURAMA-RESORT.jpg" width="30px" />
            <span class="ml-3 h5 font-weight-bold">TRẢI NGHIỆM ẨM THỰC & GIẢI TRÍ</span>
          </a>
          <p class="my-3" style="width: 250px">
            Khu nghỉ dưỡng Furama Đà Nẵng là một khu nghỉ dưỡng 5 sao sang trọng, có uy tín và được xem là một trong những biểu tượng của ngành du lịch Việt Nam.
          </p>
          <span class="mt-4">
            <button class="btn btn-dark btn-flat p-2">
              <i class="fa fa-facebook"></i>
            </button>
            <button class="btn btn-dark btn-flat p-2">
              <i class="fa fa-twitter"></i>
            </button>
            <button class="btn btn-dark btn-flat p-2">
              <i class="fa fa-instagram"></i>
            </button>
          </span>
        </div>
        <div>
          <p class="h5 mb-4" style="font-weight: 600">Địa Điểm</p>
          <ul class="p-0" style="list-style: none; cursor: pointer">
            <li class="my-2">
              <a class="text-dark" href="/">
                1.	Cố đô Huế</a>
            </li>
            <li class="my-2">
              <a class="text-dark" href="/">2.	Phố cổ Hội An</a>
            </li>
            <li class="my-2">
              <a class="text-dark" href="/">3.	Thánh địa Mỹ Sơn</a>
            </li>
            <li class="my-2">
              <a class="text-dark" href="/">4.	Động Phong Nha</a>
            </li>
          </ul>
        </div>
        <div>
          <p class="h5 mb-4" style="font-weight: 600">Help</p>
          <ul class="p-0" style="list-style: none; cursor: pointer">
            <li class="my-2">
              <a class="text-dark" href="/">Sabre-GD 032771, Worldspan- GD DADFU</a>
            </li>
            <li class="my-2">
              <a class="text-dark" href="/">Tel.: 84-236-3847 333/888</a>
            </li>
            <li class="my-2">
              <a class="text-dark" href="/">Email: reservation@furamavietnam.com</a>
            </li>
          </ul>
        </div>

      </div>
      <small class="text-center mt-5">&copy; Devwares, 2020. All rights reserved.</small>
    </div>
  </footer>
</div>
